.naver {
  --shadow-color: rgba(3, 199, 90, 0.5) !important;
  background-color: rgb(3, 199, 90) !important;
}
.naver:active {
  background-color: rgb(1, 159, 71) !important;
}

.github {
  background-color: black !important;
  --shadow-color: rgba(0, 0, 0, 0.25) !important;
}
.github:active + div > img {
  @apply opacity-80 text-opacity-80 transition-colors duration-button;
}
.github:active > span {
  @apply opacity-80 text-opacity-80 transition-colors duration-button;
}
