@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply m-0 p-0 font-sans shadow-color-neutral text-gray-900 w-full h-full overflow-hidden;
}

#root {
  @apply absolute top-0 left-0 w-100vw h-100vh bg-white;
}

button {
  @apply outline-none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@layer utilities {
  .theme-violet .shadow-color-primary {
    --shadow-color: rgba(145, 84, 245, 0.5);
  }
  .theme-pink .shadow-color-primary {
    --shadow-color: rgba(255, 100, 146, 0.5);
  }
  .theme-green .shadow-color-primary {
    --shadow-color: rgba(24, 178, 104, 0.5);
  }
  .theme-blue .shadow-color-primary {
    --shadow-color: rgba(78, 116, 252, 0.5);
  }
  .shadow-color-destructive {
    --shadow-color: rgba(245, 50, 60, 0.5);
  }
  .shadow-color-neutral {
    --shadow-color: rgba(17, 24, 39, 0.25);
  }
  .placeholder-sans::placeholder {
    @apply font-sans;
  }
  .placeholder-mono::placeholder {
    @apply font-mono;
    letter-spacing: -0.05em;
  }

  .font-mono {
    letter-spacing: -0.05em;
  }
}

.theme-violet {
  --primary-color-100: #dac5fe;
  --primary-color-300: #a876fa;
  --primary-color-500: #9154f5;
  --primary-color-700: #7732e6;
  --primary-color-900: #512b8e;
}

.theme-pink {
  --primary-color-100: #ffdce6;
  --primary-color-300: #ff8aad;
  --primary-color-500: #ff6492;
  --primary-color-700: #e04a77;
  --primary-color-900: #ae2951;
}

.theme-green {
  --primary-color-100: #a7e6c8;
  --primary-color-300: #44d28e;
  --primary-color-500: #18b268;
  --primary-color-700: #138850;
  --primary-color-900: #105e39;
}

.theme-blue {
  --primary-color-100: #c6d3fe;
  --primary-color-300: #7c98fc;
  --primary-color-500: #4e74fc;
  --primary-color-700: #2d56ec;
  --primary-color-900: #112d95;
}
