.visible:not(.beingInvisible) {
  @apply bg-gray-900 bg-opacity-50;
  transition: none;
}
.invisible:not(.beingVisible) {
  @apply bg-gray-900 bg-opacity-0;
  transition: none;
}
.beingVisible {
  @apply bg-gray-900 bg-opacity-50;
  transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.beingInvisible {
  @apply bg-gray-900 bg-opacity-0;
  transition: background 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visible.mobile:not(.beingInvisible) > div,
.visible.desktop:not(.beingInvisible) > div {
  @apply opacity-100;
  transform: translateY(0%);
  transition: none;
}
.invisible.mobile:not(.beingVisible) > div {
  @apply opacity-0;
  transform: translateY(100%);
  transition: none;
}
.invisible.desktop:not(.beingVisible) > div {
  @apply opacity-0;
  transform: translateY(2rem);
  transition: none;
}
.beingVisible.mobile > div,
.beingVisible.desktop > div {
  @apply opacity-100;
  transform: translateY(0%);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.beingInvisible.mobile > div {
  @apply opacity-0;
  transform: translateY(100%);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.beingInvisible.desktop > div {
  @apply opacity-0;
  transform: translateY(2rem);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
