:root {
  --header-height: 64px;
  --header-height: calc(64px + env(safe-area-inset-top, 0px));
  --footer-height: 76px;
  --footer-height: calc(76px + env(safe-area-inset-bottom, 0px));
  --pip-margin-x: 1rem;
  --pip-margin-x: calc(1rem + env(safe-area-inset-right, 0px));
  --pip-margin-y: 1rem;
  --pip-width--mobile: 16rem;
  --pip-height--mobile: 9rem;
  --pip-width--desktop: 24rem;
  --pip-height--desktop: 13.5rem;
  --chat-section-width--desktop: calc(clamp(352px, 30vw, 416px));
}

/* Mobile Portrait */

.minMobilePortrait {
  transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--pip-width--mobile);
  height: var(--pip-height--mobile);
  transform: translate(
    calc(100vw - 100% - var(--pip-margin-x)),
    calc(100 * var(--wh) - 100% - var(--footer-height) - var(--pip-margin-y))
  );
  border-radius: 0.5rem;
}

.maxMobilePortrait {
  transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 56.25vw;
  transform: translate(calc(100vw - 100%), var(--header-height));
  border-radius: 0rem;
}

.beingMinMobilePortrait {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--pip-width--mobile);
  height: var(--pip-height--mobile);
  transform: translate(
    calc(100vw - 100% - var(--pip-margin-x)),
    calc(100 * var(--wh) - 100% - var(--footer-height) - var(--pip-margin-y))
  );
  border-radius: 0.5rem;
}

.beingMaxMobilePortrait {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 56.25vw;
  transform: translate(calc(100vw - 100%), var(--header-height));
  border-radius: 0.5rem;
}

/* Mobile Landscape */

.minMobileLandscape {
  transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--pip-width--mobile);
  height: var(--pip-height--mobile);
  transform: translate(
    calc(100vw - 100% - var(--pip-margin-x)),
    calc(100 * var(--wh) - 100% - var(--pip-margin-y))
  );
  border-radius: 0.5rem;
}

.maxMobileLandscape {
  transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: calc(100 * var(--wh));
  transform: translate(calc(100vw - 100%), calc(100 * var(--wh) - 100%));
  border-radius: 0rem;
}

.beingMinMobileLandscape {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--pip-width--mobile);
  height: var(--pip-height--mobile);
  transform: translate(
    calc(100vw - 100% - var(--pip-margin-x)),
    calc(100 * var(--wh) - 100% - var(--pip-margin-y))
  );
  border-radius: 0.5rem;
}

.beingMaxMobileLandscape {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: calc(100 * var(--wh));
  transform: translate(calc(100vw - 100%), calc(100 * var(--wh) - 100%));
  border-radius: 0.5rem;
}

/* Desktop */

.minDesktop {
  transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--pip-width--desktop);
  height: var(--pip-height--desktop);
  transform: translate(
    calc(100vw - 100% - var(--pip-margin-x)),
    calc(100 * var(--wh) - 100% - var(--pip-margin-y))
  );
  border-radius: 0.5rem;
}

.maxDesktop {
  transition: box-shadow 130ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100vw - var(--chat-section-width--desktop));
  height: calc(100 * var(--wh) - var(--header-height) - var(--footer-height));
  transform: translate(
    calc(100vw - var(--chat-section-width--desktop) - 100%),
    calc(100 * var(--wh) - var(--footer-height) - 100%)
  );
  border-radius: 0rem;
}

.beingMinDesktop {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: var(--pip-width--desktop);
  height: var(--pip-height--desktop);
  transform: translate(
    calc(100vw - 100% - var(--pip-margin-x)),
    calc(100 * var(--wh) - 100% - var(--pip-margin-y))
  );
  border-radius: 0.5rem;
}

.beingMaxDesktop {
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100vw - var(--chat-section-width--desktop));
  height: calc(100 * var(--wh) - var(--header-height) - var(--footer-height));
  transform: translate(
    calc(100vw - var(--chat-section-width--desktop) - 100%),
    calc(100 * var(--wh) - var(--footer-height) - 100%)
  );
  border-radius: 0.5rem;
}
