name: Test

on:
  push:
    branches:
    - main
    - features/**
    - dependabot/**
  pull_request:
    branches:
    - main

jobs:
  docker:
    environment: test
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Build containers
        run: docker-compose -f "docker-compose.test.yml" build

      - name: Test 1 in `app`
        run: WORKFLOW=".workflow" docker-compose --env-file .env.test --profile test:frontend up

      - name: Test 2 in `app`
        run: CMD="yarn workspace app run test-2" docker-compose -f "docker-compose.test.yml" up app

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/
          fail_ci_if_error: true

      - name: Stop containers
        if: always()
        run: docker-compose -f "docker-compose.test.yml" down
